[submodule "OMI-Lib"]
	path = Vendor/OMI-Lib
	url = https://github.com/LCERD/OMI-Filetype-Library.git
[submodule "Vendor/SharpMss32"]
	path = Vendor/SharpMss32
	url = https://github.com/NessieHax/SharpMss32.git
