<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="JapanResource">
            <Component Id="cmpC92B4EBC991F194A9EFC2763C7D9EB28" Guid="f7b87e8b-0cb7-4b66-8f9c-5ed89e95b3c6">
                <File Id="fil02904FC8246BC6263528FF9F58B6FEE6" KeyPath="yes" Source="$(var.HarvestPath)\PCK Studio.resources.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmpC92B4EBC991F194A9EFC2763C7D9EB28" />
        </ComponentGroup>
    </Fragment>
</Wix>